@import '../../styles/appBar.css';
@import '../../styles/global.css';

.container {
  margin: 0 128px;
  color: white
}
.post {
  margin: 32px 0;
}
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 8px 0;
}

.button:hover {
  background-color: #3e8e41;
}